<%- include('../parts/html-header') %> <%- include('../parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增資料</h5>
          <form name="form1" onsubmit="checkForm(); return false;">
            <div class="mb-3">
              <label for="name" class="form-label">name</label>

              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="<%= name %>"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                value="<%= email %>"
              />
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label">mobile</label>
              <input
                type="text"
                class="form-control"
                id="mobile"
                name="mobile"
                value="<%= mobile %>"
              />
            </div>
            <div class="mb-3">
              <label for="birthday" class="form-label">birthday</label>
              <input
                type="date"
                class="form-control"
                id="birthday"
                name="birthday"
                value="<%= toDateString(birthday) %>"
              />
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                value="<%= address %>"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../parts/scripts') %>
<script>
  function checkForm() {
    // 資料檢查
    const fd = new FormData(document.form1);
    const usp = new URLSearchParams(fd);
    console.log([...usp]);

    const dataObj = {};
    for (let i of fd) {
      dataObj[i[0]] = i[1];
    }
    // console.log({ dataObj });
    // TODO 資料上傳

    // fetch('', {
    //   method: 'POST',
    //   body: fd,
    // })
    //   .then((r) => r.json())
    //   .then((obj) => {
    //     console.log(obj);
    //   });

    fetch('', {
      //空字串是post傳回自己的路徑
      method: 'POST',
      body: JSON.stringify(dataObj),
      headers: {
        'Content-Type': 'application/json', // 必須給才可以告知檔案格式 用top-level middleware去解析
      },
    })
      .then((r) => r.json())
      .then((obj) => {
        console.log(obj);
        if (!obj.success) {
          alert('資料更新錯誤');
        }
      });

    // const schema = joi.object({
    //   username: joi.string().alphanum().min(3).max(30).required(),

    //   age: joi.number().required(),
    // });

    // console.log(schema.validate({ username: 'mi', age: 'dfdf' }));
    // console.log(
    //   schema.validate({ username: 'mi', age: 'dfdf' }, { abortEarly: false })
    // );
    // console.log(schema.validate({ username: 'milestang', age: 23 }));
  }
</script>
<%- include('../parts/html-foot') %>
